<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Completar Cadastro</title>
</head>
<body>
    <h2>Olá, {{ usuario.nome }}</h2>
    <p>Por favor, complete seu cadastro para iniciar sua avaliação.</p>
    <form action="/finalizar-cadastro" method="POST">
        <input type="hidden" name="token" value="{{ usuario.token }}">
        <label>Defina sua senha:</label><br>
        <input type="password" name="senha"><br><br>
        <label>Idade:</label><br>
        <input type="text" name="idade"><br><br>
        <label>Cargo:</label><br>
        <input type="text" name="cargo"><br><br>
        <button type="submit">Concluir Cadastro</button>
    </form>
</body>
</html>
